* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

#app input,
#app select {
  border-radius: 6px;
  background-color: #e1f5fe;
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

select:focus-visible {
  outline: none;
}

select {
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.6);
}

.container {
  max-width: 600px;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.character,
.grade {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

#result,
#ex2__result {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-radius: 6px;
  background-color: #e1f5fe;
}

.ex__2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100%;
}

body {
  height: 100vh;
  background-color: #e1f5fe;
}
